USE [master]
GO
/****** Object:  Database [Web50]    Script Date: 09.03.2020 20:49:55 ******/
CREATE DATABASE [Web50]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Web50', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Web50.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Web50_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Web50_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Web50].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Web50]
GO
/****** Object:  Table [dbo].[TBLKISILER]    Script Date: 09.03.2020 20:49:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLKISILER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[MAIL] [varchar](50) NULL,
	[TELEFON] [varchar](20) NULL,
	[SIFRE] [varchar](10) NULL,
 CONSTRAINT [PK_TBLKISILER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLSEHIR]    Script Date: 09.03.2020 20:49:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLSEHIR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SEHIR] [varchar](20) NULL,
 CONSTRAINT [PK_TBLSEHIR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBLKISILER] ON 

INSERT [dbo].[TBLKISILER] ([ID], [AD], [MAIL], [TELEFON], [SIFRE]) VALUES (0, N'Rıdvan Namlı', N'ridvan@example.com', N'1234562345', N'123456')
INSERT [dbo].[TBLKISILER] ([ID], [AD], [MAIL], [TELEFON], [SIFRE]) VALUES (4, N'Derya Sönmez', N'derya@mail.com', N'1234567890', N'123asd')
SET IDENTITY_INSERT [dbo].[TBLKISILER] OFF
SET IDENTITY_INSERT [dbo].[TBLSEHIR] ON 

INSERT [dbo].[TBLSEHIR] ([ID], [SEHIR]) VALUES (1, N'ADANA')
INSERT [dbo].[TBLSEHIR] ([ID], [SEHIR]) VALUES (2, N'ANKARA')
INSERT [dbo].[TBLSEHIR] ([ID], [SEHIR]) VALUES (3, N'BURSA')
SET IDENTITY_INSERT [dbo].[TBLSEHIR] OFF
USE [master]
GO
